@{
    ViewBag.Title = "Portal";
}

<div class="row">
    <div class="col-md-3">
        <div id="accordion">
            <h3>Profile</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Change Password", "changepassword", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("Student Profile Details", "biodata", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Course Registration</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Registration rule", "", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("Register Courses", "registercourse", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Message</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Compose", "compose", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("Inbox", "inbox", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Signout</h3>
            <div>
                <ul>
                    <li><a href="@Url.RouteUrl("logout")">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9 container" id="partials">
        <div>
            @{ Html.RenderPartial("_Welcome"); }
        </div>
    </div>
</div>
@section Scripts{
    
}