@model CourseRegistrationSystem.ViewModels.WelcomeIndex

@{
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
    ViewBag.Title = ".:: Portal Manager® ::.";
}

<div class="row">
    <div class="col-md-3 hidden-print">
        <div>
            @{
                byte[] photo = Model.Photo;

                if (photo != null)
                {
                    <img src="data:image/jpg;base64,@Convert.ToBase64String(photo, Base64FormattingOptions.None)" alt="@Model.FirstName Picture" class="img-responsive img-circle" id="profile-img" />
                    using (Html.BeginForm("upload", "Welcome", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <br />
                        <fieldset>
                            <div>
                                @Html.TextBoxFor(x => x.ProfilePic, new { type = "file" })
                                <p class="help-block">Image must be &lt;= 150KB. Supported file types: jpg, jpeg </p>
                                <input type="submit" value="Upload" class="btn btn-sm btn-default" />
                            </div>
                        </fieldset>
                    }
                }
                else
                {
                    using (Html.BeginForm("Upload", "Welcome", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <br />
                        <fieldset>
                            <div class="editor-field">
                                @Html.TextBoxFor(x => x.ProfilePic, new { type = "file" })
                                <p class="help-block">Image must be &lt;= 150KB. Supported file types: jpg, jpeg </p>
                            </div>

                            <div class="editor-field">
                                <input type="submit" value="Upload" />
                            </div>
                        </fieldset>
                    }
                }
            }
        </div>

        <br />
        <div id="accordion">
            <h3>Profile</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Change Password", "changepassword", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("Student Profile Details", "biodata", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Course Registration</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Register Courses", "registercourse", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("View Registration", "viewregistration", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Message</h3>
            <div>
                <ul>
                    <li>@Ajax.ActionLink("Compose", "compose", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                    <li>@Ajax.ActionLink("Inbox", "inbox", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "partials", InsertionMode = InsertionMode.Replace })</li>
                </ul>
            </div>
            <h3>Signout</h3>
            <div>
                <ul>
                    <li><a href="@Url.RouteUrl("logout")">Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
    <br />
    <div class="col-md-9 container" id="partials">
        <div>
            @{ Html.RenderPartial("_Welcome"); }
        </div>
    </div>
</div>
@section Scripts{

}