@model CourseRegistrationSystem.ViewModels.CourseSelectionViewModel


<div class="col-md-8 col-md-offset-1">
    <hr />
    <h4 class="table-caption">COURSE REGISTRATION FORM</h4>
    <table class="details-table">
        <tbody>
            <tr>
                <td>Full Name: </td>
                <td class="d-text"><span class="text-uppercase">@(Model.FullName)</span></td>
                <td class="d-title">Session: </td>
                <td class="d-text">
                    @{
                        if (DateTime.Now.Month >= 10)
                        {
                            @: <span>@DateTime.Now.Year/@(DateTime.Now.Year + 1)</span>
                        }
                        else
                        {
                            @: <span>@(DateTime.Now.Year - 1)/@DateTime.Now.Year</span>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Department: </td>
                <td class="d-text">
                    <span class="text-uppercase">
                        @Model.Department
                    </span>
                </td>
                <td class="d-title">Semester: </td>
                <td class="d-text">
                    @{
                        if (DateTime.Now.Month < 3 || DateTime.Now.Month >= 10)
                        {
                            @: <span class="text-uppercase">First Semester</span>
                        }
                        else
                        {
                            @: <span class="text-uppercase">Second Semester</span>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Student type: </td>
                <td class="d-text"><span class="text-uppercase">@Model.StudentType</span></td>
                <td class="d-title">Maximum Unit: </td>
                <td class="d-text"><strong>24</strong></td>
            </tr>
            <tr>
                <td>Matric number: </td>
                <td class="d-text">@(Model.RegistrationNumber)</td>
                <td class="d-title">Minimum Unit: </td>
                <td class="d-text"><strong>15</strong></td>
            </tr>
            <tr>
                <td>Level: </td>
                <td class="d-text text-uppercase">
                    @Model.Level
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="registration">
        <div class="registration-info">
            <p>Please click on the "<span style="color: red; font-weight: bold">Check Boxes</span>" beside each course to select a course or courses...</p>
            <p><span style="color: red; font-weight: bold">NOTE:</span> You cannot delete courses that have been aproved by your course advisor</p>
            <p>Click here to @Html.ActionLink("Add/Borrow Courses", "addcourses", null, new { id = "add-courses" })</p>
        </div>

        <div>
            @using (Html.BeginForm())
            {
                <table class="table table-condensed courses-table" id="courses">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th>Register</th>
                            <th>Course Code</th>
                            <th style="text-align: center;">Course Title</th>
                            <th>Unit</th>
                            <th>Course Type</th>
                        </tr>
                    </thead>
                    <tbody id="courses">
                        @Html.EditorFor(m => m.Courses)
                    </tbody>
                    <tfoot>
                        <tr class="text-uppercase">
                            <td></td>
                            <td></td>
                            <td><strong>Total Unit Load</strong></td>
                            <td id="totalUnit" style="text-align: center;"></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <br />
                <div id="dialog-add-courses" style="display: none"></div>

                <div>
                    <input type="submit" value="Register" class="btn btn-primary" id="btn-register" />
                </div>

                <hr />
                <br />
                <hr />
                <script>
                    function addCourses() {
                        var $id = '<input type="checkbox" name="mycheckbox" id="course-id" />',
                            $code = $('#course-code').text(),
                            $title = $('#course-title').text(),
                            $unit = $('#course-unit').text(),
                            $type = $('#course-type').text();

                        $('.add-check:checked').each(function () {
                            $('#courses tbody').append('<tr class="text-uppercase"><td>' +
                                    $id + "</td>" + "<td>" + $code + "</td>" +
                                    "<td>" + $title + "</td>" + '<td style="text-align: center;">' + $unit + "</td>" +
                                    "<td>" + $type + "</td></tr>")
                        });

                        $("#dialog-add-courses").dialog("close");
                    }
                    
                    $(function () {
                        $.ajaxSetup({ cache: false });

                        $("#add-courses").on("click", function (e) {
                            e.preventDefault();
                            var url = $(this).attr('href');

                            $("#dialog-add-courses").dialog({
                                title: 'Add/Borrow Courses',
                                autoOpen: false,
                                resizable: false,
                                width: 900,
                                show: { effect: 'drop', direction: "up" },
                                modal: true,
                                draggable: true,
                                position: { my: "center", at: "center", of: window },
                                open: function (event, ui) {
                                    $(".ui-dialog-titlebar-close").hide();
                                    $(this).load(url + " div");
                                },
                                buttons: {
                                    "Add": addCourses,
                                    Cancel: function () {
                                        $(this).dialog("close");
                                    }
                                },
                            });

                            $("#dialog-add-courses").dialog("open");
                            return false;
                        });
                    });

                    $("#chkSelectAll").bind("change", function () {
                        $(".chkSelect").prop("checked", $(this).prop("checked"));
                    });
                    $(".chkSelect").bind("change", function () {
                        if (!$(this).prop("checked"))
                            $("#chkSelectAll").prop("checked", false);
                    });

                    $('.chkSelect').on("click", function () {
                        console.log($(this).next().html());
                        var totalUnit = 0;

                        $('.chkSelect:checked').each(function () {
                            totalUnit += parseInt($('.unit').html());
                        });

                        if (totalUnit != 0) {
                            $('#totalUnit').text(totalUnit)
                            .css("font-weight", "bolder");
                        }
                        else {
                            $('#totalUnit').text("");
                        }
                        
                    });

                    $("form").on("submit", function (event) {
                        $totalUnit = parseInt($('#totalUnit').text());

                        if (isNaN($totalUnit)) {
                            alert("You must select a course in order to register. \nUse the checkboxes beside each course to select a course.");
                            event.preventDefault();
                        }
                        else if ($totalUnit < 15 || $totalUnit > 24) {
                            alert("Total Unit selected is " + $totalUnit +
                                "\nMinimum Unit is 15, Maximum Unit is 24");
                            event.preventDefault();
                        }
                    })

                    $(".courseType:contains(Elective)").each(function () {
                        $(this).attr({
                                'data-container': 'body',
                                "data-toggle": "popover",
                                "data-placement": "right",
                                "data-content": "This is an elective course",
                                "data-original-title": "",
                                "title": ""
                            });
                    });

                    $(".course-title").each(function () {
                                $(this).attr({
                                    'data-container': 'body',
                                    "data-toggle": "tooltip",
                                    "data-placement": "top",
                                    "data-content": "",
                                    "data-original-title": $(this).text(),
                                    "title": ""
                                });
                    });

                    function tool_tip() {
                        $('[data-toggle="tooltip"]').tooltip()
                    }

                    tool_tip();  // Call in document ready for elements already present

                    $.ajax({
                        success: function (data) {
                            tool_tip();  // Call function again for AJAX loaded content
                        }
                    })

                    function pop_over() {
                        $('[data-toggle="popover"]').popover()
                    }

                    pop_over();  // Call in document ready for elements already present

                    $.ajax({
                        success: function (data) {
                            pop_over();  // Call function again for AJAX loaded content
                        }
                    })
                </script>
            }
        </div>
    </div>
</div>