@model CourseRegistrationSystem.Areas.Admin.ViewModels.UsersNew

<h1>New User</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
    </div>

    <input type="submit" value="Create User" class="btn btn-primary"/>
    <a href="@Url.Action("index")"> or cancel</a>
}