@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/styles")
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <span id="success" style="display: none;"></span>
        @{ Html.RenderPartial("_Alerts"); }
        <br />
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)
</body>
</html>
