@model CourseRegistrationSystem.Areas.CourseAdviser.ViewModels.StudentsIndex

@{ 
    ViewBag.Title = "Students";
}

<h1>Students</h1>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Id</td>
                <td><span class="text-uppercase">@student.FirstName @student.LastName @student.MiddleName</span></td>
                <td>
                    @{
                        switch (student.Level)
                        {
                            case "LevelOne": <span class="text-uppercase"> 100 Level</span> break;
                            case "LevelTwo": <span class="text-uppercase"> 200 Level</span> break;
                            case "LevelThree": <span class="text-uppercase"> 300 Level</span> break;
                            case "LevelFour": <span class="text-uppercase"> 400 Level</span> break;
                            case "LevelFive": <span class="text-uppercase"> 500 Level</span> break;
                        }
                    }
                </td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("viewcourses", new { student.Id })" class="btn btn-xs btn-primary">
                                    <i class="glyphicon glyphicon-open"></i>
                                    View Registration
                                </a>
                            </div>
                        </td>
                    </tr>
        }
    </tbody>
</table>
