@model CourseRegistrationSystem.Areas.CourseAdviser.ViewModels.StudentsIndex

@{
    ViewBag.Title = "Students";
    int i = 1;
}

<h1>Students</h1>

<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>Student Name</th>
            <th>Student Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@(i++)</td>
                <td><span class="text-uppercase">@student.FirstName @student.LastName @student.MiddleName</span></td>
                <td>@student.Level</td>
                <td>
                    <div class="btn-group">
                        <a href="@Url.Action("viewcourses", new { student.Id })" class="btn btn-xs btn-primary">
                            <i class="glyphicon glyphicon-open"></i>
                            View Registration
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
